@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  font-family: Noto Sans KR, dotum, sans-serif,
}

* {
  // box-sizing: border-box;
}

.root-container {
  overflow: hidden;
}
